body {
    background-color:#18191A;
    color:#BF8A56;
    
}

a {
    color:#894521;
}

td,th {
    border:thin #9D6834 solid;
    font-size:1em;
    font-weight:500;
}

th {
    font-weight:normal;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #68696A;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

